.tracker-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tracker-data-container {
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
    padding: 5px 20px;
    min-height: 60px;
    width: 72%;
    color: black;
    background: linear-gradient(to left, #eab9b6, #eaaca8, #faaca8);
}

.tracker-top-container {
    display: flex;
    justify-content: center;
}

.tracker-offset {
    font-style: italic;
}

.tracker-text {
    font-size: 16px;
}

.tracker-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tracker-timestamp {
    font-style: italic;
}

.tracker-name {
    font-weight: bold;
}